<div class="container">
  <div class="row">
    <div class="col-4">
      <h4>
        <strong><%= @customer.last_name + @customer.first_name %>さんの会員詳細</strong>
      </h4>
    </div>
  </div>
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td class="table-secondary col-1">会員ID</td>
        <td class="col-4"><%= @customer.id %></td>
      </tr>
      <tr>
        <td class="table-secondary col-1">氏名</td>
        <td class="col-4"><%= @customer.last_name %> <%= @customer.first_name %></td>
      </tr>
      <tr>
        <td class="table-secondary col-1">フリガナ</td>
        <td class="col-4"><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <td class="table-secondary col-1">郵便番号</td>
        <td class="col-4"><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td class="table-secondary col-1">住所</td>
        <td class="col-4"><%= @customer.address %></td>
      </tr>
      <tr>
        <td class="table-secondary col-1">電話番号</td>
        <td class="col-4"><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td class="table-secondary col-1">メールアドレス</td>
        <td class="col-4"><%= @customer.email %></td>
      </tr>
      <tr>
        <td class="table-secondary col-1">会員ステータス</td>
        <td class="col-4">
          <% if @customer.is_active == true %>
            <p class="text-success">有効</p>
          <% else %>
            <p class="text-muted">退会</p>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-3">
      <p><%= link_to '編集する', admin_customers_edit_path, class:"btn btn-success" %></p>
    </div>
  </div>
</div>