<div class="container">
  <div class="row">
    <div class="col-5">
      <h4>
        <strong>注文履歴詳細</strong>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p>
        <strong>購入者</strong>
      </p>
    </div>
    <div class="col-7">
      <%= link_to @order.customer.last_name + @order.customer.first_name, admin_customers_show_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p>
        <strong>注文日</strong>
      </p>
    </div>
    <div class="col-7">
      <%= @order.created_at %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p>
        <strong>配送先</strong>
      </p>
    </div>
    <div class="col-7">
      〒<%= @order.delivery_postal_code %> <%= @order.delivery_address %><br>
      <%= @order.delivery_name %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <p>
        <strong>支払い方法</strong>
      </p>
    </div>
    <div class="col-7">
      <%= @order.payment_method %>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="col-1">商品名</th>
        <th class="col-2">単価(税込)</th>
        <th class="col-2">数量</th>
        <th class="col-2">小計</th>
      </tr>
    </thead>
    <tbody>
    <% @order.order_details.each do |order_detail| %>
      <% @total_price= @total_price + order_detail.ordering_price %>
      <tr>
        <td class="col-2"><%= order_detail.item.item_name %></td>
        <td><%= order_detail.item.with_tax_price %></td>
        <td><%= order_detail.item_quantity %></td>
        <td><%= order_detail.ordering_price %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <table class="table table-bordered col-4">
    <tbody>
      <tr>
        <td class="col-2">送料</td>
        <td class="col-5">800</td>
      </tr>
      <tr>
        <td class="col-2">商品合計</td>
        <td class="col-5"><%= @total_price %></td>
      </tr>
      <tr>
        <td class="col-2">請求金額</td>
        <td class="col-1"><%= @total_price + 800 %></td>
      </tr>
    </tbody>
  </table>
</div>