<div class="container">
  <div class="row">
    <div class="col-5">
      <h4>
        <strong>注文情報入力</strong>
      </h4>
    </div>
  </div>
  <%= form_with model: @order, url: confirmation_path, method: :post do |f| %>
  <div class="row">
    <div class="col-3">
      <strong>支払い方法</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %> <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <%= f.radio_button :payment_method, Order.payment_methods.key(1) %> <%= f.label :payment_method_bank, Order.payment_methods_i18n[:bank] %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <strong>お届け先</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <%= f.radio_button :address, 0 %>
      <%= f.label :address, "ご自身の住所" %><br>
      <p>
      〒<%= current_customer.postal_code %> <%= current_customer.address %><br>
      <%= current_customer.last_name %> <%= current_customer.first_name %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <%= f.radio_button :address, 1 %>
      <%= f.label :address, "新しいお届け先" %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>郵便番号(ハイフンなし)</p>
    </div>
    <div class="col-3">
      <%= f.text_field :delivery_postal_code %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>住所</p>
    </div>
    <div class="col-3">
      <%= f.text_field :delivery_address %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <p>名前</p>
    </div>
    <div class="col-3">
      <p>(姓) <%= f.text_field :last_name %></p>
    </div>
    <div class="col-3">
      <p>(名) <%= f.text_field :first_name %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-3">
      <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
    </div>
  </div>
  <% end %>
</div>