<div class="container">
  <div class="row">
    <div class="col-3">
      <h4>
        <strong>商品詳細</strong>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <%= image_tag @item.get_image(200, 200) %>
    </div>
  </div>
  <div class="row">
    <%= form_with model: @cart_item , url: cart_items_path, method: :post do |f| %>
    <table>
      <tbody>
        <tr>
          <td class="col-6">商品名</td>
          <td class="col-5"><%= @item.item_name %></td>
        </tr>
        <tr>
          <td class="col-6">商品説明</td>
          <td class="col-5"><%= @item.introduction %></td>
        </tr>
        <tr>
          <td class="col-6">税込み価格</td>
          <td class="col-5"><%= @item.with_tax_price%>円</td>
        </tr>
        <tr>
          <td><%= f.select :quantity, [['1',1], ['2',2], ['3',3], ['4',4], ['5',5], ['6',6], ['7',7],['8',8], ['9',9], ['10',10]] %> <%= f.hidden_field :item_id, :value => @item.id %></td>
          <td><%= f.submit "カートに入れる", class:"btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>